[v-cloak]{
    display: none;
}
.heading{
    text-align: center;
    margin-bottom: 15px;

}
.heading h4{
    margin-bottom: 2px;
}
.hint{
    position: relative;
    top: 10;
}

.hint{
    font-size: 18px;
}

#link-address{
    width: 100%;
}

.progress progress,
.best-download
{
    width: 100%;
}

.console{
    background-color: #181818;
    color: #ffe;
    padding: 15px;
    line-height: 1.4em;
}

.video-title{
    text-align: center;
}

.video-thumbnail{
    max-width: 100%;
    max-height: 188px;
}