[v-cloak]{
    display: none;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    padding-bottom: 160px;
}

.heading{
    text-align: center;
    margin-bottom: 15px;

}
.heading h4{
    margin-bottom: 2px;
}
.hint{
    position: relative;
    top: 10;
}

.hint{
    font-size: 18px;
}

#link-address{
    width: 100%;
}

.progress progress,
.best-download
{
    width: 100%;
}

.console{
    background-color: #181818;
    color: #ffe;
    padding: 15px;
    line-height: 1.4em;
}

.downloading{
    margin-bottom: 10px;
}

.response-test{
    overflow-x: hidden;
    white-space: pre-wrap;
}

.video-title{
    text-align: center;
}

.video-thumbnail{
    max-width: 100%;
    max-height: 188px;
}

.format{
    background-color: rgb(241, 241, 241);
    margin-bottom: 3px;
    padding-left: 3px;
}

.format-name{
    text-align: center;
    font-weight: bold;
}

.format-download{
    background: rgb(169, 201, 220);
}

.filters label{
    display: inline-block;
}

.alg-center{
    text-align: center;
}

button:disabled, input:disabled{
    opacity: 0.4;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 15px;
    background: rgb(247, 252, 253);
}

@media (max-width: 550px) {
    .get-info{
        width:100%;
    }
}


@media (min-width: 550px) {
    .no-margl{
        margin-left: 0;
    }
}
