<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>WYOU</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/js/vue.js"></script>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>



  <div id="main">

    <div class="container">
        <div class="heading row">
          <div class=" column">
            <h4>WYOU - Downloader</h4>
            <span>Friendly interface 
                for downloading media files from youtube and other sites.</span>
          </div>
        </div>
        <div class="row">
          <div class="three columns">
              <h5>Enter URL Here:</h5>
          </div>
          <div class="seven columns">
              <input v-model="url" @keyup.enter="getInfo" id="link-address" type="text" placeholder="e.x. https://www.youtube.com/watch?v=VIDEOID">
          </div>
          <div class="two columns">
            <button @click="getInfo" class="button-primary">Get Info</button>
          </div>
        </div>
        <div v-cloak v-if="inProgress" class="progress row">
            <progress></progress>
        </div>
    </div>
    <div v-cloak v-if="video.error" class="console container">
      <span class="error" v-text="video.errorText"></span>
    </div>
<!--
    <div class="result container"></div>
-->

  </div>

  <script src="/js/main.js"></script>
</body>
</html>