<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>WYOU</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="/js/vue.js"></script>


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>



  <div id="main">

    <div class="container">
        <div class="heading row">
          <div class=" column">
            <h4>WYOU - Downloader</h4>
            <span>Friendly interface 
                for downloading media files from youtube and other sites.</span>
          </div>
        </div>
        <div class="row">
          <div class="three columns">
              <span class="hint">Enter URL Here:</strong>
          </div>
          <div class="seven columns">
              <input v-model="url" @keyup.enter="getInfo" id="link-address" type="text" placeholder="e.x. https://www.youtube.com/watch?v=VIDEOID">
          </div>
          <div class="two columns">
            <button @click="getInfo" class="get-info button-primary">Get Info</button>
          </div>
        </div>
        <div v-cloak v-if="inProgress" class="progress row">
            <progress></progress>
        </div>
    </div>

    <div v-cloak v-if="video.error" class="console container">
      <span class="error" v-text="video.errorText"></span>
    </div>

    <div v-cloak v-if="video.id" class="result container">
      <div class="rov">
        <div class="imagecontainer five columns">
          <img class="video-thumbnail" :src="videoThumbnail">
        </div>
        <div class="seven columns">
          <h6 class="video-title"><strong>{{video.title}}</strong></h6>
          <table class="u-full-width">
            <tbody>
              <tr>
                <td>Duration</td>
                <td>{{videoDuration}}</td>
              </tr>
              <tr>
                <td>Provided by</td>
                <td>{{video.extractor_key}}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <button @click="download('best')" class="best-download button-primary">Download best quality</button>
        </div>
      </div>


      <div class="row">
        <div class="three columns format" 
            v-for="(format, index) in video.formats"
            :class="{'no-margl': index % 4 == 0}">
          <div class="format-name">{{format.format}}</div>
          
          <div class="u-full-width">
            
              <div>
                <span>Size</span>
                <span>{{format.filesize}}</span>
              </div>
              <div>
                <span>Extension</span>
                <span>{{format.ext}}</span>
              </div>
              <div>
                <span>Video</span>
                <span>{{format.vcodec}}</span>
              </div>
              <div>
                <span>Audio</span>
                <span>{{format.acodec}}</span>
              </div>
              <div>
                <span>Extension</span>
                <span>{{format.ext}}</span>
              </div>
            </div>
          <button @click="download('{{format.id}}')" class="u-full-width button format-download">download</button>
        </div>
      </div>

    </div>

  </div>



  <script src="/js/main.js"></script>
</body>
</html>